:root {
  --primary: #5a0001;
  --secondary: #f6e8ea;
  --other: #f45b69;
  --primary-text: #b6b6b6;
  --secondary-text: #22181c;
}

/* MAIN CONTAINERS */

.App {
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.5fr;

  gap: 1rem;
  grid-template-areas:
    "header header header"
    "content content sidebar"
    "content content sidebar";
}

.header {
  grid-area: header;
  background-color: var(--primary);
  color: var(--primary-text);
  height: 6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--secondary);
  color: var(--secondary-text);
  border-top-left-radius: 0.5rem;
  padding: 1rem;
  text-transform: capitalize;
  /* position: fixed;
  right: 0;
  top: 7rem;
  height: 100%;
  min-width: 200px; */
}

[type="checkbox"] {
  width: 2.5rem;
  height: 2.5rem;
  vertical-align: middle;
  cursor: pointer;
}

.content {
  grid-area: content;
  text-align: center;
  text-transform: capitalize;
}

.content > * {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

/* SINGLE ARTICLE */

.article-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 3rem;
}

.article-vote-container {
  background-color: var(--secondary);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0.2rem 0.2rem 0 0.2rem;
}

.article-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--other);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 1rem;
  width: 800px;
}

.article-content-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top-right-radius: 0.5rem;
}

.article-content-title-container > * {
  margin: 0;
}

.article-content-comment-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.article-content-comment-container > * {
  margin: 0;
}
.article-content-body-container,
.article-content-body-container-collapse {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  border-bottom-right-radius: 0.5rem;
}

.article-content-body-container-collapse:hover {
  cursor: pointer;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
}

.article-content-comment-button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* TOPICS - ARTICLES */

.articles-container {
  display: flex;
  flex-direction: column;

  gap: 5rem;
}
