:root {
  --primary: #5a0001;
  --secondary: #f6e8ea;
  --other: #f45b69;
  --primary-text: #b6b6b6;
  --secondary-text: #22181c;
}

/* MAIN CONTAINERS */

.App {
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.5fr;

  gap: 1rem;
  grid-template-areas:
    "header header header"
    "content content sidebar"
    "content content sidebar";
}

/* HEADER */

.header {
  grid-area: header;
  background-color: var(--primary);
  color: var(--primary-text);
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0 3rem 0 3rem;
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.avatar-url {
  border-radius: 16px;
  height: 32px;
  width: 32px;
  border: 1px solid black;
}

.login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: fixed;
  padding-top: 8rem;
}

/* SIDEBAR */

.sidebar {
  grid-area: sidebar;
  background-color: var(--secondary);
  color: var(--secondary-text);
  border-top-left-radius: 0.5rem;
  padding: 1rem;
  text-transform: capitalize;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* position: fixed;
  right: 0;
  top: 7rem;
  height: 100%;
  min-width: 200px; */
}

.sidebar-container {
  position: fixed;
}

.navbar-topic-sort {
  padding: 0 1rem 0 1rem;
}

[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  cursor: pointer;
}

.sortbar-page-active {
  border: 3px solid green;
}

/* GENERIC CONTENT CONTAINER */

.content {
  grid-area: content;
  text-align: center;
  /* text-transform: capitalize; */
}

.content > * {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

/* SINGLE ARTICLE */

.article-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1rem;
}

.article-vote-container {
  background-color: var(--secondary);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0.2rem 0.2rem 0 0.2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--other);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 1rem;
  width: 800px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article-content-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top-right-radius: 0.5rem;
}

.article-content-title-container > * {
  margin: 0;
}

.article-content-comment-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.article-content-comment-container > * {
  margin: 0;
}
.article-content-body-container,
.article-content-body-container-collapse {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  border-bottom-right-radius: 0.5rem;
}

.article-content-body-container-collapse:hover {
  cursor: pointer;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
}

.article-content-comment-button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* COMMENT CONTAINER */

.comment-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 3rem;
}

.comment-user-container {
  background-color: var(--other);
  color: white;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.comment-body-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  background-color: var(--secondary);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.comment-body-container > P {
  padding: 0 1rem 0 1rem;
}

.comment-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.comment-title-container > * {
  margin: 0;
}
.comment-vote-container {
  display: flex;
  height: 32px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0.25rem;
  color: var(--primary);
}

.vote-button:hover {
  cursor: pointer;
  color: orange;
}

/* POST COMMENT */

.add-comment-text {
  border-radius: 0.5rem;
  font-size: 1rem;
  resize: vertical;
  margin: 1rem;
  height: 6rem;
}

.add-comment-button {
  height: 2rem;
  border-bottom-right-radius: 0.5rem;
  background-color: var(--primary);
  color: white;
  font-size: 1rem;
  border: 0;
}

.add-comment-button:hover {
  cursor: pointer;
  background-color: orange;
  color: black;
}

/* TOPICS - ARTICLES */

.articles-container {
  display: flex;
  flex-direction: column;

  gap: 5rem;
}
